@using fanaticServe.Core.Dto
@model IEnumerable<fanaticServe.Core.Dto.ArticleEvent>

@{
    ViewData["Title"] = "setlist";
    var currentFilter = ViewData["CurrentFilter"] as string;
    var currentSort = ViewData["CurrentSort"] as string;
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Articles" method="get" class="mb-2">
    <input type="text" name="searchString" value="@currentFilter" placeholder="タイトルで検索" />
    <input type="hidden" name="sortOrder" value="@currentSort" />
    <button type="submit">検索</button>
    @if (!string.IsNullOrEmpty(currentFilter))
    {
        <a asp-action="Articles">クリア</a>
    }
</form>

<a asp-action="Articles" asp-route-sortOrder="@ViewData["ArticleDateSortParm"]">開催日で並び替え</a> |
<a asp-action="Articles" asp-route-sortOrder="@ViewData["ArticleTitleSortParm"]">タイトルで並び替え</a>

@foreach (ArticleEvent abs in Model)
{
    <article class="abs-album article-outer">
        <div class="card article-inner">
            <div class="card-header">
                <div>
                    <h4><a asp-controller="Events" asp-action="EventGroup" asp-route-id="@abs.Abstract_event_id">@abs.Title</a></h4>
                </div>
                <div>
                    <span>開催日</span>:<span>@Html.DisplayFor(model => abs.Perform_on)</span>
                </div>
            </div>
            @if (abs.LiveEvents != null)
            {
                <div class="card-body variations">
                    @* ライブ/イベント情報 *@
                    @foreach (var detailEvent in abs.LiveEvents)
                    {
                        <div class="article-detail">
                            <a asp-controller="Events" asp-action="Detail" asp-route-id="@detailEvent.Live_event_id">
                                @Html.DisplayFor(modelItem => detailEvent.Title)
                            </a>
                        </div>
                        @await Html.PartialAsync("_DetailEventView", detailEvent)
                    }
                </div>
            }
        </div>
    </article>
}