@using fanaticServe.Dto
@model IEnumerable<fanaticServe.Dto.ArticleEvent>

@{
    ViewData["Title"] = "Event/Live 一覧";
}
<h1>@ViewData["Title"]</h1>
<a asp-action="index">一覧表形式</a>

@foreach (ArticleEvent abs in Model)
{
    <article class="abs-album">
        <div>
            <div>
            <h4><a asp-controller="Events" asp-action="EventGroup" asp-route-id="@abs.Abstract_event_id">@abs.Title</a>                </h4>
            </div>
            <div>
                <span>開催日</span>:<span>@Html.DisplayFor(model => abs.Perform_on)</span>
            </div>
            @if (abs.LiveEvents != null)
            {
                <div class="variations">

                    @* ライブ/イベント情報 *@
                    @foreach (var detailEvent in abs.LiveEvents)
                    {
                        <div>
                            <a asp-controller="Events" asp-action="Detail" asp-route-id="@detailEvent.Live_event_id">
                                @Html.DisplayFor(modelItem => detailEvent.Title)
                            </a>
                        </div>

                        @await Html.PartialAsync("_DetailEventView", detailEvent)
                     }
                </div>
            }
        </div>
    </article>
    <hr />
}