@using fanaticServe.Dto
@model IEnumerable<fanaticServe.Dto.ArticleEvent>

@{
    ViewData["Title"] = "setlist";
}
<h1>@ViewData["Title"]</h1>

@foreach (ArticleEvent abs in Model)
{
    <article class="abs-album article-outer">
        <div class="card article-inner">
            <div class="card-header">
                <div>
                    <h4><a asp-controller="Events" asp-action="EventGroup" asp-route-id="@abs.Abstract_event_id">@abs.Title</a></h4>
                </div>
                <div>
                    <span>開催日</span>:<span>@Html.DisplayFor(model => abs.Perform_on)</span>
                </div>
            </div>
            @if (abs.LiveEvents != null)
            {
                <div class="card-body variations">
                    @* ライブ/イベント情報 *@
                    @foreach (var detailEvent in abs.LiveEvents)
                    {
                        <div class="article-detail">
                            <a asp-controller="Events" asp-action="Detail" asp-route-id="@detailEvent.Live_event_id">
                                @Html.DisplayFor(modelItem => detailEvent.Title)
                            </a>
                        </div>
                        @await Html.PartialAsync("_DetailEventView", detailEvent)
                    }
                </div>
            }
        </div>
    </article>
}