@model fanaticServe.Dto.ArticleEvent

@{
    ViewData["Title"] = Model.Title;
    String preTitle = Model.Title;
}

<h1>@ViewData["Title"]</h1>
@if(!string.IsNullOrEmpty(Model.Note))
{
    <div>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
    </div>    
}

@if (Model.LiveEvents != null)
{
    foreach (var liveEvent in Model.LiveEvents)
    {
        <article class="article-outer">
            <div class="card article-inner">
                <div class="card-header ">
                    <a asp-controller="Events" asp-action="detail" asp-route-id="@liveEvent.Live_event_id">
                        @Html.DisplayFor(model => liveEvent.Title)
                    </a>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_DetailEventView", liveEvent)
                </div>
            </div>
        </article>
    }
}
