@model IEnumerable<fanaticServe.Core.Dto.ShowableEvent>

@{
    ViewData["Title"] = "event list";
    String preTitle = "";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">開催日時で並び替え</a> |
<a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">タイトルで並び替え</a>

<table class="table">
    <thead class="only-pc">
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.Perform_at)
            </th>
            <th>
            </th>
            <th>タイトル</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Perform_at)
                </td>
                <td>
                    @if (!preTitle.Equals(item.Title))
                    {
                        <a asp-action="EventGroup" asp-route-id="@item.Abstract_event_id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    }
                </td>
                <td>
                    <a asp-action="detail" asp-route-id="@item.Event_id">
                        @Html.DisplayFor(modelItem => item.DetailTitle)
                    </a>
                </td>
            </tr>
            preTitle = item.Title;
        }
    </tbody>
</table>
