@model IEnumerable<fanaticServe.Dto.ShowableSetList>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead class="only-pc">
            <tr>
                <th class="set-list-number"><i>曲順</i></th>
                <th class="set-list-title"><i>曲名</i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var setList in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => setList.Set_List_No)
                    </td>
                    <td>
                        @if (setList.Song_id == null)
                        {
                            @Html.DisplayFor(model => setList.Title)
                        }
                        else
                        {
                            <a asp-controller="Songs" asp-action="Detail" asp-route-id="@setList.Song_id">
                                @Html.DisplayFor(model => setList.Title)
                            </a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(model => setList.Note)
                        <div style="text-align:right">
                            <TargetBadge />

                        </div>
                    </td>
                </tr>
            }
    </table>
}
