@model fanaticServe.Core.Dto.ArticleAlbum
@{
    ViewData["Title"] = Model.Title;
}

<h1>@ViewData["Title"]</h1>

<a asp-action="AlbumGroup" asp-route-sortOrder="@ViewData["GroupDateSort"]">発売日で並び替え</a> |
<a asp-action="AlbumGroup" asp-route-sortOrder="@ViewData["GroupTitleSort"]">タイトルで並び替え</a>

<dl>
    <dt>@Html.DisplayNameFor(model => model.Release_On)</dt>
    <dd>@Html.DisplayFor(model => model.Release_On)</dd>
</dl>

@if (Model.Albums != null)
{
    foreach (var album in Model.Albums)
    {
        <article class="article-outer">
            <div class="card article-inner">
                <div class="card-header">
                    <a asp-action="Detail" asp-route-id="@album.Album_id">@Html.DisplayFor(model => album.Title)</a>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_DetailAlbumView", album)
                </div>
            </div>
        </article>
    }
}
