@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@ViewData["Title"]">
    <meta name="twitter:site" content="@Configuration["TwitterSite"]">
    <meta name="twitter:url" content="@Url.PageLink()">
    <meta name="twitter:description" content="@ViewData["Description"]">

    <title>@ViewData["Title"] - @Configuration["SiteTitle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fanaticServe.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="base-bg-color">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="article-outer ">
                    <div class="article-inner">
                        <h1>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@Configuration["SiteTitle"]</a>
                        </h1>
                        <div>情報は個人で収集したもので、正確さを保証するものではありません。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="padding-right:0px;">
                <div class="article-outer" style="position:sticky;top:5px;">
                    <div class="article-inner">
                        <ul>
                            <li><a asp-controller="Events" asp-action="Articles">setlist</a></li>
                            <li><a asp-controller="Events" asp-action="Index">event list</a></li>
                        </ul>
                        <ul>
                            <li><a asp-controller="Albums" asp-action="Index">discography</a> </li>
                            <li><a asp-controller="Albums" asp-action="Articles">discography - 収録曲</a></li>
                        </ul>
                        <ul>
                            <li><a asp-controller="Songs" asp-action="Index">song</a></li>
                            <li><a asp-controller="DatSource" asp-action="Index">Dta source</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ReleaseNote">release note</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-10">
                <main role="main" class="pb-3">
                    <div class="article-outer ">
                        <div class="article-inner">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
