@model IEnumerable<fanaticServe.Dto.ShowableSong>

@{
    ViewData["Title"] = "楽曲";
}
<h1>@ViewData["Title"]</h1>

@Model.Count()曲の楽曲があります。

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPeformAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ruby>
                        <a asp-action="detail" asp-route-id="@item.Song_Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        <rt class="only-pc"><span class="ruby">@Html.DisplayFor(modelItem => item.Kana)</span></rt>
                    </ruby>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="detail" asp-controller="Events" asp-route-id="@item.LiveEventID"> @Html.DisplayFor(modelItem => item.EventTitle)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPeformAt)
                </td>
            </tr>
        }
    </tbody>
</table>
