@model IEnumerable<fanaticServe.Models.Song>

@{
    ViewData["Title"] = "楽曲一覧";
}

<h1>@ViewData["Title"]</h1>

@Model.Count()件の楽曲があります。

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kana)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="detail" asp-route-id="@item.Song_Id">@Html.DisplayFor(modelItem => item.Title)</a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem =>  item.Kana)
            </td>
        </tr>
}
    </tbody>
</table>
