@model IEnumerable<fanaticServe.Core.Dto.ShowableSong>

@{
    ViewData["Title"] = "楽曲";
    var currentFilter = ViewData["CurrentFilter"] as string;
    var currentSort = ViewData["CurrentSort"] as string;
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="get" class="mb-2">
    <input type="text" name="searchString" value="@currentFilter" placeholder="タイトルで検索" />
    <input type="hidden" name="sortOrder" value="@currentSort" />
    <button type="submit">検索</button>
    @if (!string.IsNullOrEmpty(currentFilter))
    {
        <a asp-action="Index">クリア</a>
    }
</form>


@Model.Count()曲の楽曲があります。
<div>
    <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSort"]">タイトルで並び替え</a>|
    <a asp-action="Index" asp-route-sortOrder="@ViewData["CountSort"]">歌唱回数で並び替え</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPeformAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <ruby>
                        <a asp-action="detail" asp-route-id="@item.Song_Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        <rt class="only-pc"><span class="ruby">@Html.DisplayFor(modelItem => item.Kana)</span></rt>
                    </ruby>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    <a asp-action="detail" asp-controller="Events" asp-route-id="@item.LiveEventID"> @Html.DisplayFor(modelItem => item.EventTitle)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastPeformAt)
                </td>
            </tr>
        }
    </tbody>
</table>
