@model fanaticServe.Core.Dto.ShowablePerson

@{
    ViewData["Title"] = Model.Name;
}


<h1><ruby>@ViewData["Title"]<rt><span class="ruby">@Html.DisplayFor(m => m.Kana)</span></rt></ruby></h1>

@if (Model.Songs != null && Model.Songs.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>担当</th>
                <th>タイトル</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var song in Model.Songs)
            {
                <tr>
                    <td>@song.role.Name</td>
                    <td>
                        <a asp-controller="Songs" asp-action="detail" asp-route-id="@song.song.Song_Id">@Html.DisplayFor(modelItem => song.song.Title)</a>
                        </td>
                    </tr>

                    }
        </tbody>
    </table>
}