@model fanaticServe.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>abustract_album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
        </dt>
        <dd class = "col-sm-10">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_At)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified_At)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified_At)
        </dd>
    </dl>
</div>
